.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.wrapper .clouds-container {
  position: relative;
}
.wrapper .clouds-container .clouds {
  width: 200vw;
  height: 500px;
  display: flex;
  position: absolute;
  white-space: nowrap;
  animation: moveImages 40s linear infinite;
  z-index: 1;
}
@keyframes moveImages {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100vw, 0, 0);
  }
}
.wrapper .clouds-container .clouds .cloud {
  display: inline-block;
  width: 100vw;
  height: 100%;
}
.wrapper .content-container {
  width: 90vw;
  height: 85vh;
  z-index: 9;
  margin: 5% auto;
  display: flex;
  gap: 5%;
}
.wrapper .content-container__main-content {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
}
.wrapper .content-container__main-content__search-container {
  width: 100%;
  height: 10%;
  border: 1px solid #05586b;
  border-radius: 25px;
  background-color: rgba(217, 217, 217, 0.07);
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px rgba(35, 35, 35, 0.2);
}
.wrapper .content-container__main-content__search-container #search {
  background: transparent;
  margin-left: 2%;
  width: 35%;
  border: none;
  height: 25px;
  outline: none;
}
.wrapper .content-container__main-content__search-container #search::placeholder, .wrapper .content-container__main-content__search-container #search:not(:placeholder-shown) {
  font-size: 22px;
  color: #c0bfbf;
}
.wrapper .content-container__main-content__temp-container {
  width: 100%;
  height: 50%;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
}
.wrapper .content-container__main-content__temp-container__weather-container {
  padding-top: 3%;
  height: 100%;
  width: 30%;
}
.wrapper .content-container__main-content__temp-container__weather-container h1 {
  font-size: 55px;
  color: #fff;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.wrapper .content-container__main-content__temp-container__weather-container span {
  color: #DBCFCF;
}
.wrapper .content-container__main-content__temp-container__weather-container #temperature {
  font-size: 120px;
  color: #fff;
  margin: 12% 0 0 20%;
  padding: 0;
}
.wrapper .content-container__main-content__temp-container__weather-icon {
  height: 100%;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .content-container__main-content__temp-container__weather-icon #weather-icon {
  width: 250px;
}
.wrapper .content-container__main-content__hours-container {
  width: 100%;
  height: 40%;
  border: 1px solid #05586b;
  border-radius: 25px;
  background-color: rgba(217, 217, 217, 0.07);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(35, 35, 35, 0.4);
}
.wrapper .content-container__main-content__hours-container p {
  margin-top: 1.5%;
  margin-left: 4%;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #88898B;
}
.wrapper .content-container__main-content__hours-container__content {
  /*  border: 1px solid blue; */
  width: 95%;
  height: 60%;
  margin-left: 1.6%;
  margin-top: 1%;
  display: flex;
  justify-content: space-around;
}
.wrapper .content-container__main-content__hours-container__content__item {
  border-right: 1px solid white;
  box-sizing: border-box;
  height: 100%;
  width: 20%;
  display: flex;
  padding-left: 2%;
  flex-direction: column;
}
.wrapper .content-container__main-content__hours-container__content__item #hour {
  font-size: 19px;
  margin-top: 4%;
}
.wrapper .content-container__main-content__hours-container__content__item #hour-temp {
  font-size: 4rem;
  color: rgb(199, 195, 195);
  font-weight: 300;
}
.wrapper .content-container__main-content__hours-container__content__item:last-of-type {
  border: none;
}
.wrapper .content-container__aside-content {
  height: 100%;
  width: 25%;
  border: 1px solid #05586b;
  border-radius: 25px;
  background-color: rgba(217, 217, 217, 0.07);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(35, 35, 35, 0.3);
}
.wrapper .content-container__aside-content #heading {
  font-size: 20px;
  color: #88898B;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 40px;
}
.wrapper .content-container__aside-content__forecast-list {
  width: 80%;
  height: 83%;
  margin-left: 10%;
}
.wrapper .content-container__aside-content__forecast-list__list {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.wrapper .content-container__aside-content__forecast-list__list_item {
  width: auto;
  height: 14%;
  display: flex;
  border-bottom: 1px solid #DBCFCF;
  justify-content: space-between;
  align-items: center;
}
.wrapper .content-container__aside-content__forecast-list__list_item #day {
  color: #4c4c50;
  font-weight: 600;
  font-size: 18px;
}
.wrapper .content-container__aside-content__forecast-list__list_item #icon {
  width: 25px;
  height: 25px;
  margin-right: -15%;
}
.wrapper .content-container__aside-content__forecast-list__list_item #day-temp {
  color: #fff;
}
.wrapper .content-container__aside-content__forecast-list__list_item span {
  color: #4c4c50;
  font-weight: 600;
}
.wrapper .content-container__aside-content__forecast-list__list_item #weather-type {
  color: #fff;
}

@media only screen and (max-width: 1024px) {
  .wrapper .content-container__main-content__search-container #search::placeholder, .wrapper .content-container__main-content__search-container #search:not(:placeholder-shown) {
    font-size: 16px;
  }
  .wrapper .content-container__main-content__temp-container {
    padding-left: 3%;
  }
  .wrapper .content-container__main-content__temp-container h1 {
    font-size: 30px;
  }
  .wrapper .content-container__main-content__temp-container span {
    font-size: 12px;
  }
  .wrapper .content-container__main-content__temp-container #temperature {
    font-size: 90px;
  }
  .wrapper .content-container__main-content__temp-container #weather-icon {
    width: 160px;
    padding-right: 3%;
  }
  .wrapper .content-container__main-content__hours-container p {
    font-size: 16px;
  }
  .wrapper .content-container__main-content__hours-container #hour {
    font-size: 14px;
  }
  .wrapper .content-container__main-content__hours-container #hour-temp {
    font-size: 40px;
  }
  .wrapper .content-container__aside-content #heading {
    font-size: 16px;
  }
  .wrapper .content-container__aside-content #day {
    font-size: 12px;
  }
  .wrapper .content-container__aside-content #icon {
    width: 15px;
    height: 15px;
  }
  .wrapper .content-container__aside-content #day-temp {
    font-size: 12px;
  }
  .wrapper .content-container__aside-content span {
    font-size: 12px;
  }
  .wrapper .content-container__aside-content #weather-type {
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    height: auto;
  }
  .wrapper .clouds-container .clouds {
    height: 350px;
  }
  .wrapper .content-container {
    flex-direction: column;
    align-items: center;
    height: 150vh;
    gap: 3%;
  }
  .wrapper .content-container__main-content {
    width: 100%;
  }
  .wrapper .content-container__main-content__search-container #search::placeholder, .wrapper .content-container__main-content__search-container #search:not(:placeholder-shown) {
    font-size: 14px;
  }
  .wrapper .content-container__main-content__hours-container {
    height: 35%;
  }
  .wrapper .content-container__main-content__hours-container__content {
    height: 50%;
    width: 100%;
  }
  .wrapper .content-container__main-content__hours-container p {
    font-size: 14px;
    margin-top: 3%;
  }
  .wrapper .content-container__main-content__hours-container #hour {
    font-size: 12px;
  }
  .wrapper .content-container__main-content__hours-container #hour-temp {
    font-size: 35px;
  }
  .wrapper .content-container__aside-content {
    width: 100%;
  }
  .wrapper .content-container__aside-content #heading {
    font-size: 14px;
  }
}
@media only screen and (max-width: 470px) {
  .wrapper .clouds-container .clouds {
    height: 300px;
  }
  .wrapper .content-container {
    gap: 0%;
  }
  .wrapper .content-container__main-content__temp-container {
    padding-top: 6%;
  }
  .wrapper .content-container__main-content__temp-container #weather-icon {
    padding-right: 50%;
  }
  .wrapper .content-container__main-content__hours-container {
    height: 30%;
  }
  .wrapper .content-container__main-content__hours-container__content {
    height: 50%;
    width: 100%;
  }
  .wrapper .content-container__main-content__hours-container p {
    font-size: 14px;
    margin-top: 3%;
  }
  .wrapper .content-container__main-content__hours-container #hour {
    font-size: 10px;
  }
  .wrapper .content-container__main-content__hours-container #hour-temp {
    font-size: 30px;
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: $primary */
  background: linear-gradient(to bottom, #141D2B 0%, #141D2B 100%);
  font-family: "Inter", sans-serif;
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2");
}