$primary: #111822;
$primary-bg: rgba(217, 217, 217, 0.07);
$border: #05586b;
$text-primary: #88898B;
$temp-primary: rgb(199, 195, 195);
$secondary-grey: #4c4c50;
$white: #fff;
$white-secondary: #DBCFCF;