@import 'styles';
@import 'variables';
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: $primary */;
    background: linear-gradient(to bottom, #141D2B 0%,  #141D2B 100%);
    font-family: 'Inter', sans-serif;
    
}


@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); 
  }